[Unit]
Description=Timer para execução periódica do Monitoramento de Sistema

[Timer]
OnCalendar=*:0/15
Persistent=true

[Install]
WantedBy=timers.target
